body {
  height: 100vh;
  margin: 0;
  font-family: Inter, sans-serif;
}

#title-bar {
  margin: 0;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  font: bold 1.5rem Inter, sans-serif;
}

#title-bar span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f4f5f7;
  border-bottom: 2px solid #dee2e6;
  border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
}

#title-bar h1 {
  margin: 0;
  padding: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
}

#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#map {
  height: 100%;
  width: 100%;
  min-width: 350px;
  min-height: 400px;
  position: relative;
  margin: 0;
  user-select: none;
}

@media (min-width: 768px) {
  #mainContainer {
    display: flex;
    height: 100vh;
  }

  #controlPanel,
  #statusPanel {
    width: 250px;
    overflow-y: auto;
  }

  #title-bar {
    top: 1vh;
  }

  #map {
    flex-grow: 1;
    width: auto;
    height: 98vh;
    aspect-ratio: 9 / 16;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  body {
    overflow: hidden;
    background-image: radial-gradient(
      ellipse farthest-corner,
      #83ff85 40%,
      #8dff9b 80%
    );
  }
}

#inventory {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -20%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.84);
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  z-index: 1000;
  -webkit-transform: translate(-50%, -20%);
  -moz-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  -o-transform: translate(-50%, -20%);
}

.leaflet-popup-content-wrapper {
  background: whitesmoke;
  border-radius: 8px;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  display: none;
}

.coin-spawn {
  animation: coin-bounce 0.6s ease-out;
}

@keyframes coin-bounce {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    transform: translateY(-3px);
    opacity: 1;
  }
  70% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.movement-buttons {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(3, 40px);
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.movement-buttons button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movement-buttons button:hover {
  background-color: #0056b3;
}

.settings-button {
  width: 40px;
  height: 40px;
  font-size: 32px;
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
}

.settings-button:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}

.settings-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2000;
  min-width: 200px;
}

.settings-window .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2rem;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  margin: 0;
  padding: 0;
  background: rgb(199, 199, 199);
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.settings-window h3 {
  margin-top: 0;
}

.settings-window button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  background-color: #cb001b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.settings-window button:hover {
  background-color: #5b0000;
}

.settings-window label {
  display: block;
  margin: 10px 0;
}
